## Inventory amangement system and Replication of windows functions of sql in python:

### 1.Simulation of inventory management :-

In [1]:
## import necessary libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from datetime import datetime

In [2]:
#1.furniture
## unit prices of Furniture sub_category items :
fur_up_chairs=300
fur_up_tables=1000
fur_up_wardrobe=2000                                   
fur_up_beds=5000
fur_up_couch=2000
fur_up_antique=500
fur_up_storage=90

##intital quantity of Furniture sub_category items 
fur_iq_chairs=15
fur_iq_tables=7
fur_iq_wardrobe=12
fur_iq_beds= 15                                         
fur_iq_couch=24
fur_iq_antique=20
fur_iq_storage=10

## initial ordered quantity of Furniture sub_category items 
fur_oq_chairs=0
fur_oq_tables=0
fur_oq_wardrobe=0
fur_oq_beds=0
fur_oq_couch=0
fur_oq_antique=0
fur_oq_storage=0

Furn_sub =['chairs', 'tables','wardrobe', 'beds', 'couch', 'antique', 'storage']
furn_sub_up=[fur_up_chairs,fur_up_tables,fur_up_wardrobe,fur_up_beds,fur_up_couch,fur_up_antique,fur_up_storage]
furn_sub_iq=[fur_iq_chairs,fur_iq_tables,fur_iq_wardrobe,fur_iq_beds,fur_iq_couch,fur_iq_antique,fur_iq_storage]
furn_sub_oq=[fur_oq_chairs,fur_oq_tables,fur_oq_wardrobe,fur_oq_beds,fur_oq_couch,fur_oq_antique,fur_oq_storage]
Furniture=[Furn_sub,furn_sub_up,furn_sub_iq]
Fur_tot_sales=sum([i*j for i,j in zip(furn_sub_up,furn_sub_iq)])

In [3]:
#2.Sports

spo_up_shoes=500
spo_up_bags=200
spo_up_backpack=800
spo_up_bottles=100
spo_up_towels=150

##intital quantity of sports sub_category items : ( iq == initial quantity )
spo_iq_shoes=30
spo_iq_bags=7
spo_iq_backpack=12
spo_iq_bottles= 15
spo_iq_towels=24

#### initial ordered quantity of sports sub_category items 
spo_oq_shoes=0
spo_oq_bags=0
spo_oq_backpack=0
spo_oq_bottles=0
spo_oq_towels=0


Spo_sub=['shoes', 'bags', 'backpack', 'bottles', 'towels']
spo_up=[spo_up_shoes,spo_up_bags,spo_up_backpack,spo_up_bottles,spo_up_towels]
spo_sub_iq=[spo_iq_shoes,spo_iq_bags,spo_iq_backpack,spo_iq_bottles,spo_iq_towels]
spo_sub_oq=[spo_oq_shoes,spo_oq_bags,spo_oq_backpack,spo_oq_bottles,spo_oq_towels]
Sports=[Spo_sub,spo_up,spo_sub_iq]
Spo_tot_sales=sum([i*j for i,j in zip(spo_up,spo_sub_iq)])

In [4]:
#3.Food

## unit prices of food sub_category items :
food_up_chips=5
food_up_bread=20
food_up_chocolate=30
food_up_biscuits=20
food_up_rice=80
food_up_wheat=30
food_up_sugar=40
food_up_flour=60

## intital quantity of food sub_category items :
food_iq_chips=150
food_iq_bread=70
food_iq_chocolate=300
food_iq_biscuits=200
food_iq_rice=120
food_iq_wheat= 150
food_iq_sugar=240
food_iq_flour=200

#### initial ordered quantity of food sub_category items 
food_oq_chips=0
food_oq_bread=0
food_oq_chocolate=0
food_oq_biscuits=0
food_oq_rice=0
food_oq_wheat=0
food_oq_sugar=0
food_oq_flour=0


Food_sub=["chips", "bread", "chocolate", "biscuits", "rice", "wheat", "sugar", "flour"]
food_sub_up=[food_up_chips,food_up_bread,food_up_chocolate,food_up_biscuits,food_up_rice,food_up_wheat,food_up_sugar,food_up_flour]
food_sub_iq=[food_iq_chips,food_iq_bread,food_iq_chocolate,food_iq_biscuits,food_iq_rice,food_iq_wheat,food_iq_sugar,food_iq_flour]
food_sub_oq=[food_oq_chips,food_oq_bread,food_oq_chocolate,food_oq_biscuits,food_oq_rice,food_oq_wheat,food_oq_sugar,food_oq_flour]
Food=[Food_sub,food_sub_up,food_sub_iq]
Food_tot_sales=sum([i*j for i,j in zip(food_sub_up,food_sub_iq)])

In [5]:
##total sales
total_sales=[Fur_tot_sales,Spo_tot_sales,Food_tot_sales]

#Category=[Furniture,Sports,Food]
Category=["Furniture","Sports","Food"]

In [6]:
class Inventory_Management(): 
    """Inventory dataset"""
    def __init__(self,furn_sub_iq,spo_sub_iq,food_sub_iq, furn_sub_oq,spo_sub_oq,food_sub_oq):
        self.furn_sub_iq=furn_sub_iq
        self.spo_sub_iq=spo_sub_iq
        self.food_sub_iq=food_sub_iq
        self.furn_sub_oq=furn_sub_oq
        self.spo_sub_oq=spo_sub_oq
        self.food_sub_oq=food_sub_oq

    def available_inventory(self):
        """available items and quantity details"""
        print("===================================================================================================================")
        print("                                  -- Avialable Inventory --                      ","Date:-",datetime.now())
        print("===================================================================================================================")
        print("%s %10s %10s %10s %1s %10s"% ("Sr.No","Category" ,"Sub_category","Unit_price($)", "Initial_quantity","TOTAL($)"))
        print("-------------------------------------------------------------------------------------------------------------------") 
        for i,p in enumerate(Category):
            if i==0:
                furn_total_sales_list=[]
                furn_total_sales_avlb = []
                for j,k,l,m in zip(Furn_sub,furn_sub_up,self.furn_sub_iq,self.furn_sub_oq):
                    print("%2d %13s %10s %10.2f %15d %18.2f"  %(i+1,p,j,k,l-m,k*(l-m)))
                    furn_total_sales_list.append(k*(l-m))
                    furn_total_sales_avlb.append((l-m))
                    i=i+1
                print()
            elif i==1:
                spo_total_sales_list=[]
                spo_total_sales_avlb = []
                for j,k,l,m in zip(Spo_sub,spo_up,self.spo_sub_iq,self.spo_sub_oq):
                    print("%2d %13s %10s %10.2f %15d %18.2f"  %(i,p,j,k,l-m,k*(l-m)))
                    spo_total_sales_list.append(k*(l-m))
                    spo_total_sales_avlb.append((l-m))
                    i=i+1
                print()
            else :
                food_total_sales_list=[]
                food_total_sales_avlb = []
                for j,k,l,m in zip(Food_sub,food_sub_up,self.food_sub_iq,self.food_sub_oq):
                    print("%2d %13s %10s %10.2f %15d %18.2f"  %(i-1,p,j,k,l-m,k*(l-m)))
                    food_total_sales_avlb.append((l-m))
                    food_total_sales_list.append(k*(l-m))
                    i=i+1
                print()
        print("---------------------------------------------------------------------------------------------------------------")
        print("* Furniture total sales =",sum(furn_total_sales_list),"$")
        print("* Sports total sales =",sum(spo_total_sales_list),"$")
        print("* Food total sales =",sum(food_total_sales_list),"$")
        print()
        print("==> Total_sales =",sum([sum(furn_total_sales_list),sum(spo_total_sales_list),sum(food_total_sales_list)]),"$")
        print("================================================================================================================")
        
        return furn_total_sales_avlb,spo_total_sales_avlb,food_total_sales_avlb


    def ordered_inventory(self):
        cust_name=input("Name of Customer : ")
        Adress=input("Enter adress : ")
        phone_no=int(input("Phone Number : "))
        #check which categories
        order_type=input("Do you want to purchase Farniture Items : ")
        if order_type == "yes" or order_type == "Yes":
            fur_oq_chairs=int(input("enter number of chairs : "))
            fur_oq_tables=int(input("enter number of tables : "))
            fur_oq_wardrobe=int(input("enter number of wardrobe : "))
            fur_oq_beds=int(input("enter number of beds : "))
            fur_oq_couch=int(input("enter number of couches : "))
            fur_oq_antique=int(input("enter number of antique : "))
            fur_oq_storage=int(input("enter number of storage : "))
            furn_sub_oq=[fur_oq_chairs,fur_oq_tables,fur_oq_wardrobe,fur_oq_beds,fur_oq_couch,fur_oq_antique,fur_oq_storage]
        else:
            furn_sub_oq = [0,0,0,0,0,0,0]
        
        order_type=input("Do you want to purchase sport items: ")
        if order_type =='yes' or order_type == "Yes":
            print(furn_sub_oq)
            spo_oq_shoes=int(input("enter number of shoes : "))
            spo_oq_bags=int(input("enter number of bags"))
            spo_oq_backpack=int(input("enter number of backpack : "))
            spo_oq_bottles=int(input("enter number of bottles : "))
            spo_oq_towels=int(input("enter number of towels : "))
            spo_sub_oq=[spo_oq_shoes,spo_oq_bags,spo_oq_backpack,spo_oq_bottles,spo_oq_towels]
        else:
            spo_sub_oq = [0,0,0,0,0]
            
        order_type=input("Do you want to purchase Food items: ")
        if order_type =='yes' or order_type == "Yes":
            food_oq_chips=int(input("enter number of chips packetes : "))
            food_oq_bread=int(input("enter number of bread packetes : "))
            food_oq_chocolate=int(input("enter number of chocolate : "))
            food_oq_biscuits=int(input("enter number of biscuits : "))
            food_oq_rice=int(input("enter kg of rice : "))
            food_oq_wheat=int(input("enter kg of wheat : "))
            food_oq_sugar=int(input("enter kg of sugar : "))
            food_oq_flour=int(input("enter kg of flour : "))
            food_sub_oq=[food_oq_chips,food_oq_bread,food_oq_chocolate,food_oq_biscuits,food_oq_rice,food_oq_wheat,food_oq_sugar,food_oq_flour]
        else:
            food_sub_oq = [0,0,0,0,0,0,0,0]
        
        
        print()
        print()
        print("===================================================================================================================")
        print("                                  -- Ordered Inventory --                      ","Date:-",datetime.now())
        print("===================================================================================================================")
        print()
        print("Customer_name :",cust_name)
        print("Adress :",Adress)
        print("phone_no :",phone_no)
        print()
        print("-------------------------------------------------------------------------------------------------------------------")
        print("%s %10s %10s %10s %1s %10s"% ("Sr.No","Category" ,"Sub_category","Unit_price($)", "Ordered_quantity","TOTAL($)"))
        print("-------------------------------------------------------------------------------------------------------------------")
        
        for i,p in enumerate(Category):
            if i==0:
                furn_total_sales_list=[]
                for j,k,l in zip(Furn_sub,furn_sub_up,furn_sub_oq):  
                    if l!=0:
                        if l > furn_sub_iq[i]:
                            print("max u can order= ",furn_sub_iq[i])
                            print("%2d %13s %10s %10.2f %15d %18.2f"  %(i+1,p,j,k,furn_sub_iq[i],k*furn_sub_iq[i]))
                            furn_total_sales_list.append(k*furn_sub_iq[i])
                        else:
                            print("%2d %13s %10s %10.2f %15d %18.2f"  %(i+1,p,j,k,l,k*l))   ## L CHange honar yamdhe fakt
                            furn_total_sales_list.append(k*l)
                        i=i+1
                print()
            elif i==1:
                Spo_total_sales_list=[]
                for j,k,l in zip(Spo_sub,spo_up,spo_sub_oq):
                    if l!=0:
                        if l > spo_sub_iq[i-1]:
                            print("max u can order= ",furn_sub_iq[i-1])
                            print("%2d %13s %10s %10.2f %15d %18.2f"  %(i,p,j,k,furn_sub_iq[i],k*spo_sub_iq[i-1]))
                            Spo_total_sales_list.append(k*spo_sub_iq[i-1])
                        else:
                            print("%2d %13s %10s %10.2f %15d %18.2f"  %(i,p,j,k,l,k*l))
                            Spo_total_sales_list.append(k*l)
                        i=i+1
                print()
            else :
                food_total_sales_list=[]
                for j,k,l in zip(Food_sub,food_sub_up,food_sub_oq):
                    if l!=0:
                        if l > food_sub_iq[i-2]:
                            print("max u can order= ",furn_sub_iq[i-2])
                            print("%2d %13s %10s %10.2f %15d %18.2f"  %(i-1,p,j,k,furn_sub_iq[i],k*food_sub_iq[i-2]))
                            food_total_sales_list.append(k*food_sub_iq[i-2])
                        else:
                            print("%2d %13s %10s %10.2f %15d %18.2f"  %(i-1,p,j,k,l,k*l))
                            food_total_sales_list.append(k*l)
                        i=i+1
                print()
        print("---------------------------------------------------------------------------------------------------------------")
        print("* Furniture total =",sum(furn_total_sales_list),"$")
        print("* Sports total =",sum(Spo_total_sales_list),"$")
        print("* Food total =",sum(food_total_sales_list),"$")
        print()
        print("==> Total_bill_amount =",sum([sum(furn_total_sales_list),sum(Spo_total_sales_list),sum(food_total_sales_list)]),"$")
        print("================================================================================================================")

        return furn_sub_oq,spo_sub_oq,food_sub_oq

In [ ]:
while True :
    a = Inventory_Management(furn_sub_iq,spo_sub_iq,food_sub_iq, furn_sub_oq,spo_sub_oq,food_sub_oq)
    furn_sub_iq,spo_sub_iq,food_sub_iq = a.available_inventory()
    furn_sub_oq,spo_sub_oq,food_sub_oq  = a.ordered_inventory()
    print()
    Do_you_want_to_continue= input("Do you want to continue ?")
    if Do_you_want_to_continue == "Yes" or Do_you_want_to_continue == "yes":
        continue
    else:
        break

===================================================================================================================
                                  -- Avialable Inventory --                       Date:- 2023-02-01 19:16:41.184293
===================================================================================================================
Sr.No   Category Sub_category Unit_price($) Initial_quantity   TOTAL($)
-------------------------------------------------------------------------------------------------------------------
 1     Furniture     chairs     300.00              15            4500.00
 2     Furniture     tables    1000.00               7            7000.00
 3     Furniture   wardrobe    2000.00              12           24000.00
 4     Furniture       beds    5000.00              15           75000.00
 5     Furniture      couch    2000.00              24           48000.00
 6     Furniture    antique     500.00              20           10000.00
 7     Furniture    storage      90.00              10             900.00

 1        Sports      shoes     500.00              30           15000.00
 2        Sports       bags     200.00               7            1400.00
 3        Sports   backpack     800.00              12            9600.00
 4        Sports    bottles     100.00              15            1500.00
 5        Sports     towels     150.00              24            3600.00

 1          Food      chips       5.00             150             750.00
 2          Food      bread      20.00              70            1400.00
 3          Food  chocolate      30.00             300            9000.00
 4          Food   biscuits      20.00             200            4000.00
 5          Food       rice      80.00             120            9600.00
 6          Food      wheat      30.00             150            4500.00
 7          Food      sugar      40.00             240            9600.00
 8          Food      flour      60.00             200           12000.00

---------------------------------------------------------------------------------------------------------------
* Furniture total sales = 169400 $
* Sports total sales = 31100 $
* Food total sales = 50850 $

==> Total_sales = 251350 $
================================================================================================================
Name of Customer : Harshad
Enter adress : Pune
Phone Number : 8275875297
Do you want to purchase Farniture Items : yes
enter number of chairs : 1
enter number of tables : 1
enter number of wardrobe : 1
enter number of beds : 1
enter number of couches : 1
enter number of antique : 1
enter number of storage : 1
Do you want to purchase sport items: no
Do you want to purchase Food items: no


===================================================================================================================
                                  -- Ordered Inventory --                       Date:- 2023-02-01 19:17:08.197438
===================================================================================================================

Customer_name : Harshad
Adress : Pune
phone_no : 8275875297

-------------------------------------------------------------------------------------------------------------------
Sr.No   Category Sub_category Unit_price($) Ordered_quantity   TOTAL($)
-------------------------------------------------------------------------------------------------------------------
 1     Furniture     chairs     300.00               1             300.00
 2     Furniture     tables    1000.00               1            1000.00
 3     Furniture   wardrobe    2000.00               1            2000.00
 4     Furniture       beds    5000.00               1            5000.00
 5     Furniture      couch    2000.00               1            2000.00
 6     Furniture    antique     500.00               1             500.00
 7     Furniture    storage      90.00               1              90.00



---------------------------------------------------------------------------------------------------------------
* Furniture total = 10890 $
* Sports total = 0 $
* Food total = 0 $

==> Total_bill_amount = 10890 $
================================================================================================================

Do you want to continue ?yes
===================================================================================================================
                                  -- Avialable Inventory --                       Date:- 2023-02-01 19:17:11.189305
===================================================================================================================
Sr.No   Category Sub_category Unit_price($) Initial_quantity   TOTAL($)
-------------------------------------------------------------------------------------------------------------------
 1     Furniture     chairs     300.00              14            4200.00
 2     Furniture     tables    1000.00               6            6000.00
 3     Furniture   wardrobe    2000.00              11           22000.00
 4     Furniture       beds    5000.00              14           70000.00
 5     Furniture      couch    2000.00              23           46000.00
 6     Furniture    antique     500.00              19            9500.00
 7     Furniture    storage      90.00               9             810.00

 1        Sports      shoes     500.00              30           15000.00
 2        Sports       bags     200.00               7            1400.00
 3        Sports   backpack     800.00              12            9600.00
 4        Sports    bottles     100.00              15            1500.00
 5        Sports     towels     150.00              24            3600.00

 1          Food      chips       5.00             150             750.00
 2          Food      bread      20.00              70            1400.00
 3          Food  chocolate      30.00             300            9000.00
 4          Food   biscuits      20.00             200            4000.00
 5          Food       rice      80.00             120            9600.00
 6          Food      wheat      30.00             150            4500.00
 7          Food      sugar      40.00             240            9600.00
 8          Food      flour      60.00             200           12000.00

---------------------------------------------------------------------------------------------------------------
* Furniture total sales = 158510 $
* Sports total sales = 31100 $
* Food total sales = 50850 $

==> Total_sales = 240460 $
================================================================================================================

## 2.Windows functions using python.
#### Dataset : “storesales.csv”
#### Problem statement:-

    1).	Replicate the functionality of SQL ROW_NUMBER() windows function
    2).	Replicate the functionality of SQL RANK() windows function
    3).  Replicate the functionality of SQL DENSE_RANK() windows function
    4).	Replicate the functionality of SQL LAG() windows function
    5).	Replicate the functionality of SQL LEAD() windows function

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sb

In [2]:
# importing the dataset as a dataframe
df=pd.read_csv("storesales.csv")
df.head()

   id store   sales
0   1    S1  5770.2
1   2    S4  1641.8
2   3    S4  4314.0
3   4    S4  4895.7
4   5    S1  4094.4

In [3]:
## data description
df.describe()

              id        sales
count  39.000000    39.000000
mean   20.000000  4112.858974
std    11.401754  1511.590621
min     1.000000  1641.800000
25%    10.500000  2909.800000
50%    20.000000  4147.200000
75%    29.500000  4909.650000
max    39.000000  6878.500000

In [4]:
## 1st_approach :- 
class windows_func():
    def __init__(self,df,partition_colm,order_by_colm,order_type):
        self.df = df
        self.partition_colm=partition_colm
        self.order_by_colm=order_by_colm
        self.order_type=order_type
        
    def row_num_deep_code(self):
        sorted_df=self.df.sort_values(by=[self.partition_colm,self.order_by_colm],ascending=self.order_type) 
        sorted_df["row_num"]=np.NAN
        for j in list(sorted_df.store.unique()):
            sorted_df.row_num[(sorted_df.store==j)]=[*range(1,len([k for k in sorted_df.store if k==j])+1)]
        return sorted_df
    
    def row_num(self):
        self.df['Row Num'] = self.df.groupby([self.partition_colm])[self.order_by_colm].rank(method='first') ## gives rank based on ascending values here
        self.df.sort_values(by= [self.partition_colm,self.order_by_colm], inplace = True)
        fdf = self.df.reset_index(drop = True)
        return fdf
    
    def rank(self):
        self.df['Rank'] = self.df.groupby([self.partition_colm])[self.order_by_colm].rank(method='min')## gives rank based on ascending values here
        self.df.sort_values(by= [self.partition_colm,self.order_by_colm], inplace = True)
        fdf = self.df.reset_index(drop = True)
        return fdf
    
    def dense_rank(self):
        self.df['Dense Rank'] = self.df.groupby([self.partition_colm])[self.order_by_colm].rank(method='dense')## gives rank based on ascending values here
        self.df.sort_values(by= [self.partition_colm,self.order_by_colm], inplace = True)
        fdf = self.df.reset_index(drop = True)
        return fdf   
    
    def rank_lag(self):
        self.df.sort_values(by= [self.partition_colm,self.order_by_colm], inplace = True)
        self.df['Lag'] = self.df.groupby([self.partition_colm])[self.order_by_colm].shift(1)## gives rank based on ascending values here
        fdf = self.df.reset_index(drop = True)
        return fdf   
    
    def rank_lead(self):
        self.df.sort_values(by= [self.partition_colm,self.order_by_colm], inplace = True)
        self.df['Lead'] = self.df.groupby([self.partition_colm])[self.order_by_colm].shift(-1)## gives rank based on ascending values here
        fdf = self.df.reset_index(drop = True)
        return fdf

####    1).	Replicate the functionality of SQL ROW_NUMBER() windows function
        a).method name (using user defined method): row_num_deep_code()
        b).method name (using built in method): row_num()
           .rank(method='first')
####     2).	Replicate the functionality of SQL RANK() windows function
        method name (using built in method): rank()
        .rank(method='min')
####     3).  Replicate the functionality of SQL DENSE_RANK() windows function
        method name (using built in method): dense_rank()
        .rank(method='dense')
####     4).	Replicate the functionality of SQL LAG() windows function
        method name (using built in method): rank_lag()
        .shift(1)
####     5).	Replicate the functionality of SQL LEAD() windows function
        method name (using built in method): rank_lead()
        .shift(-1)

In [5]:
x=windows_func(df,"store","sales",True)        ### called the class with data is given to it and all results are stored in it.

In [6]:
x.row_num_deep_code()

C:\Users\Admin\AppData\Local\Temp\ipykernel_11728\3628834811.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sorted_df.row_num[(sorted_df.store==j)]=[*range(1,len([k for k in sorted_df.store if k==j])+1)]

    id store   sales  row_num
18  19    S1  1701.1      1.0
10  11    S1  2033.2      2.0
32  33    S1  3538.5      3.0
6    7    S1  3854.2      4.0
4    5    S1  4094.4      5.0
17  18    S1  4164.7      6.0
0    1    S1  5770.2      7.0
37  38    S1  6152.5      8.0
21  22    S1  6611.9      9.0
26  27    S1  6650.4     10.0
20  21    S2  1899.8      1.0
34  35    S2  2284.8      2.0
31  32    S2  3255.6      3.0
13  14    S2  3584.3      4.0
23  24    S2  4756.3      5.0
24  25    S2  6406.4      6.0
5    6    S3  2277.3      1.0
36  37    S3  2541.6      2.0
38  39    S3  2564.0      3.0
16  17    S3  3738.8      4.0
11  12    S3  4109.3      5.0
8    9    S3  4531.7      6.0
35  36    S3  4531.8      7.0
29  30    S3  4632.7      8.0
15  16    S3  4923.6      9.0
1    2    S4  1641.8      1.0
33  34    S4  1815.6      2.0
28  29    S4  2178.8      3.0
19  20    S4  3886.2      4.0
30  31    S4  3947.8      5.0
22  23    S4  4147.2      6.0
2    3    S4  4314.0      7.0
25  26    S4  4648.6      8.0
9   10    S4  4854.0      9.0
3    4    S4  4895.7     10.0
14  15    S4  4967.3     11.0
27  28    S4  5006.0     12.0
7    8    S4  6610.9     13.0
12  13    S4  6878.5     14.0

In [7]:
x.row_num()

    id store   sales  Row Num
0   19    S1  1701.1      1.0
1   11    S1  2033.2      2.0
2   33    S1  3538.5      3.0
3    7    S1  3854.2      4.0
4    5    S1  4094.4      5.0
5   18    S1  4164.7      6.0
6    1    S1  5770.2      7.0
7   38    S1  6152.5      8.0
8   22    S1  6611.9      9.0
9   27    S1  6650.4     10.0
10  21    S2  1899.8      1.0
11  35    S2  2284.8      2.0
12  32    S2  3255.6      3.0
13  14    S2  3584.3      4.0
14  24    S2  4756.3      5.0
15  25    S2  6406.4      6.0
16   6    S3  2277.3      1.0
17  37    S3  2541.6      2.0
18  39    S3  2564.0      3.0
19  17    S3  3738.8      4.0
20  12    S3  4109.3      5.0
21   9    S3  4531.7      6.0
22  36    S3  4531.8      7.0
23  30    S3  4632.7      8.0
24  16    S3  4923.6      9.0
25   2    S4  1641.8      1.0
26  34    S4  1815.6      2.0
27  29    S4  2178.8      3.0
28  20    S4  3886.2      4.0
29  31    S4  3947.8      5.0
30  23    S4  4147.2      6.0
31   3    S4  4314.0      7.0
32  26    S4  4648.6      8.0
33  10    S4  4854.0      9.0
34   4    S4  4895.7     10.0
35  15    S4  4967.3     11.0
36  28    S4  5006.0     12.0
37   8    S4  6610.9     13.0
38  13    S4  6878.5     14.0

In [8]:
x.rank()

    id store   sales  Row Num  Rank
0   19    S1  1701.1      1.0   1.0
1   11    S1  2033.2      2.0   2.0
2   33    S1  3538.5      3.0   3.0
3    7    S1  3854.2      4.0   4.0
4    5    S1  4094.4      5.0   5.0
5   18    S1  4164.7      6.0   6.0
6    1    S1  5770.2      7.0   7.0
7   38    S1  6152.5      8.0   8.0
8   22    S1  6611.9      9.0   9.0
9   27    S1  6650.4     10.0  10.0
10  21    S2  1899.8      1.0   1.0
11  35    S2  2284.8      2.0   2.0
12  32    S2  3255.6      3.0   3.0
13  14    S2  3584.3      4.0   4.0
14  24    S2  4756.3      5.0   5.0
15  25    S2  6406.4      6.0   6.0
16   6    S3  2277.3      1.0   1.0
17  37    S3  2541.6      2.0   2.0
18  39    S3  2564.0      3.0   3.0
19  17    S3  3738.8      4.0   4.0
20  12    S3  4109.3      5.0   5.0
21   9    S3  4531.7      6.0   6.0
22  36    S3  4531.8      7.0   7.0
23  30    S3  4632.7      8.0   8.0
24  16    S3  4923.6      9.0   9.0
25   2    S4  1641.8      1.0   1.0
26  34    S4  1815.6      2.0   2.0
27  29    S4  2178.8      3.0   3.0
28  20    S4  3886.2      4.0   4.0
29  31    S4  3947.8      5.0   5.0
30  23    S4  4147.2      6.0   6.0
31   3    S4  4314.0      7.0   7.0
32  26    S4  4648.6      8.0   8.0
33  10    S4  4854.0      9.0   9.0
34   4    S4  4895.7     10.0  10.0
35  15    S4  4967.3     11.0  11.0
36  28    S4  5006.0     12.0  12.0
37   8    S4  6610.9     13.0  13.0
38  13    S4  6878.5     14.0  14.0

In [9]:
x.dense_rank()

    id store   sales  Row Num  Rank  Dense Rank
0   19    S1  1701.1      1.0   1.0         1.0
1   11    S1  2033.2      2.0   2.0         2.0
2   33    S1  3538.5      3.0   3.0         3.0
3    7    S1  3854.2      4.0   4.0         4.0
4    5    S1  4094.4      5.0   5.0         5.0
5   18    S1  4164.7      6.0   6.0         6.0
6    1    S1  5770.2      7.0   7.0         7.0
7   38    S1  6152.5      8.0   8.0         8.0
8   22    S1  6611.9      9.0   9.0         9.0
9   27    S1  6650.4     10.0  10.0        10.0
10  21    S2  1899.8      1.0   1.0         1.0
11  35    S2  2284.8      2.0   2.0         2.0
12  32    S2  3255.6      3.0   3.0         3.0
13  14    S2  3584.3      4.0   4.0         4.0
14  24    S2  4756.3      5.0   5.0         5.0
15  25    S2  6406.4      6.0   6.0         6.0
16   6    S3  2277.3      1.0   1.0         1.0
17  37    S3  2541.6      2.0   2.0         2.0
18  39    S3  2564.0      3.0   3.0         3.0
19  17    S3  3738.8      4.0   4.0         4.0
20  12    S3  4109.3      5.0   5.0         5.0
21   9    S3  4531.7      6.0   6.0         6.0
22  36    S3  4531.8      7.0   7.0         7.0
23  30    S3  4632.7      8.0   8.0         8.0
24  16    S3  4923.6      9.0   9.0         9.0
25   2    S4  1641.8      1.0   1.0         1.0
26  34    S4  1815.6      2.0   2.0         2.0
27  29    S4  2178.8      3.0   3.0         3.0
28  20    S4  3886.2      4.0   4.0         4.0
29  31    S4  3947.8      5.0   5.0         5.0
30  23    S4  4147.2      6.0   6.0         6.0
31   3    S4  4314.0      7.0   7.0         7.0
32  26    S4  4648.6      8.0   8.0         8.0
33  10    S4  4854.0      9.0   9.0         9.0
34   4    S4  4895.7     10.0  10.0        10.0
35  15    S4  4967.3     11.0  11.0        11.0
36  28    S4  5006.0     12.0  12.0        12.0
37   8    S4  6610.9     13.0  13.0        13.0
38  13    S4  6878.5     14.0  14.0        14.0

In [10]:
x.rank_lag()

    id store   sales  Row Num  Rank  Dense Rank     Lag
0   19    S1  1701.1      1.0   1.0         1.0     NaN
1   11    S1  2033.2      2.0   2.0         2.0  1701.1
2   33    S1  3538.5      3.0   3.0         3.0  2033.2
3    7    S1  3854.2      4.0   4.0         4.0  3538.5
4    5    S1  4094.4      5.0   5.0         5.0  3854.2
5   18    S1  4164.7      6.0   6.0         6.0  4094.4
6    1    S1  5770.2      7.0   7.0         7.0  4164.7
7   38    S1  6152.5      8.0   8.0         8.0  5770.2
8   22    S1  6611.9      9.0   9.0         9.0  6152.5
9   27    S1  6650.4     10.0  10.0        10.0  6611.9
10  21    S2  1899.8      1.0   1.0         1.0     NaN
11  35    S2  2284.8      2.0   2.0         2.0  1899.8
12  32    S2  3255.6      3.0   3.0         3.0  2284.8
13  14    S2  3584.3      4.0   4.0         4.0  3255.6
14  24    S2  4756.3      5.0   5.0         5.0  3584.3
15  25    S2  6406.4      6.0   6.0         6.0  4756.3
16   6    S3  2277.3      1.0   1.0         1.0     NaN
17  37    S3  2541.6      2.0   2.0         2.0  2277.3
18  39    S3  2564.0      3.0   3.0         3.0  2541.6
19  17    S3  3738.8      4.0   4.0         4.0  2564.0
20  12    S3  4109.3      5.0   5.0         5.0  3738.8
21   9    S3  4531.7      6.0   6.0         6.0  4109.3
22  36    S3  4531.8      7.0   7.0         7.0  4531.7
23  30    S3  4632.7      8.0   8.0         8.0  4531.8
24  16    S3  4923.6      9.0   9.0         9.0  4632.7
25   2    S4  1641.8      1.0   1.0         1.0     NaN
26  34    S4  1815.6      2.0   2.0         2.0  1641.8
27  29    S4  2178.8      3.0   3.0         3.0  1815.6
28  20    S4  3886.2      4.0   4.0         4.0  2178.8
29  31    S4  3947.8      5.0   5.0         5.0  3886.2
30  23    S4  4147.2      6.0   6.0         6.0  3947.8
31   3    S4  4314.0      7.0   7.0         7.0  4147.2
32  26    S4  4648.6      8.0   8.0         8.0  4314.0
33  10    S4  4854.0      9.0   9.0         9.0  4648.6
34   4    S4  4895.7     10.0  10.0        10.0  4854.0
35  15    S4  4967.3     11.0  11.0        11.0  4895.7
36  28    S4  5006.0     12.0  12.0        12.0  4967.3
37   8    S4  6610.9     13.0  13.0        13.0  5006.0
38  13    S4  6878.5     14.0  14.0        14.0  6610.9

In [11]:
### called the class with data is given to it and all results are stored in it.
x.rank_lead()

    id store   sales  Row Num  Rank  Dense Rank     Lag    Lead
0   19    S1  1701.1      1.0   1.0         1.0     NaN  2033.2
1   11    S1  2033.2      2.0   2.0         2.0  1701.1  3538.5
2   33    S1  3538.5      3.0   3.0         3.0  2033.2  3854.2
3    7    S1  3854.2      4.0   4.0         4.0  3538.5  4094.4
4    5    S1  4094.4      5.0   5.0         5.0  3854.2  4164.7
5   18    S1  4164.7      6.0   6.0         6.0  4094.4  5770.2
6    1    S1  5770.2      7.0   7.0         7.0  4164.7  6152.5
7   38    S1  6152.5      8.0   8.0         8.0  5770.2  6611.9
8   22    S1  6611.9      9.0   9.0         9.0  6152.5  6650.4
9   27    S1  6650.4     10.0  10.0        10.0  6611.9     NaN
10  21    S2  1899.8      1.0   1.0         1.0     NaN  2284.8
11  35    S2  2284.8      2.0   2.0         2.0  1899.8  3255.6
12  32    S2  3255.6      3.0   3.0         3.0  2284.8  3584.3
13  14    S2  3584.3      4.0   4.0         4.0  3255.6  4756.3
14  24    S2  4756.3      5.0   5.0         5.0  3584.3  6406.4
15  25    S2  6406.4      6.0   6.0         6.0  4756.3     NaN
16   6    S3  2277.3      1.0   1.0         1.0     NaN  2541.6
17  37    S3  2541.6      2.0   2.0         2.0  2277.3  2564.0
18  39    S3  2564.0      3.0   3.0         3.0  2541.6  3738.8
19  17    S3  3738.8      4.0   4.0         4.0  2564.0  4109.3
20  12    S3  4109.3      5.0   5.0         5.0  3738.8  4531.7
21   9    S3  4531.7      6.0   6.0         6.0  4109.3  4531.8
22  36    S3  4531.8      7.0   7.0         7.0  4531.7  4632.7
23  30    S3  4632.7      8.0   8.0         8.0  4531.8  4923.6
24  16    S3  4923.6      9.0   9.0         9.0  4632.7     NaN
25   2    S4  1641.8      1.0   1.0         1.0     NaN  1815.6
26  34    S4  1815.6      2.0   2.0         2.0  1641.8  2178.8
27  29    S4  2178.8      3.0   3.0         3.0  1815.6  3886.2
28  20    S4  3886.2      4.0   4.0         4.0  2178.8  3947.8
29  31    S4  3947.8      5.0   5.0         5.0  3886.2  4147.2
30  23    S4  4147.2      6.0   6.0         6.0  3947.8  4314.0
31   3    S4  4314.0      7.0   7.0         7.0  4147.2  4648.6
32  26    S4  4648.6      8.0   8.0         8.0  4314.0  4854.0
33  10    S4  4854.0      9.0   9.0         9.0  4648.6  4895.7
34   4    S4  4895.7     10.0  10.0        10.0  4854.0  4967.3
35  15    S4  4967.3     11.0  11.0        11.0  4895.7  5006.0
36  28    S4  5006.0     12.0  12.0        12.0  4967.3  6610.9
37   8    S4  6610.9     13.0  13.0        13.0  5006.0  6878.5
38  13    S4  6878.5     14.0  14.0        14.0  6610.9     NaN

In [3]:
## import necessary libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from datetime import datetime

In [4]:
#1.furniture
## unit prices of Furniture sub_category items :
fur_up_chairs=300
fur_up_tables=1000
fur_up_wardrobe=2000                                   
fur_up_beds=5000
fur_up_couch=2000
fur_up_antique=500
fur_up_storage=90

##intital quantity of Furniture sub_category items 
fur_iq_chairs=15
fur_iq_tables=7
fur_iq_wardrobe=12
fur_iq_beds= 15                                         
fur_iq_couch=24
fur_iq_antique=20
fur_iq_storage=10

## initial ordered quantity of Furniture sub_category items 
fur_oq_chairs=0
fur_oq_tables=0
fur_oq_wardrobe=0
fur_oq_beds=0
fur_oq_couch=0
fur_oq_antique=0
fur_oq_storage=0

Furn_sub =['chairs', 'tables','wardrobe', 'beds', 'couch', 'antique', 'storage']
furn_sub_up=[fur_up_chairs,fur_up_tables,fur_up_wardrobe,fur_up_beds,fur_up_couch,fur_up_antique,fur_up_storage]
furn_sub_iq=[fur_iq_chairs,fur_iq_tables,fur_iq_wardrobe,fur_iq_beds,fur_iq_couch,fur_iq_antique,fur_iq_storage]
furn_sub_oq=[fur_oq_chairs,fur_oq_tables,fur_oq_wardrobe,fur_oq_beds,fur_oq_couch,fur_oq_antique,fur_oq_storage]
Furniture=[Furn_sub,furn_sub_up,furn_sub_iq]
Fur_tot_sales=sum([i*j for i,j in zip(furn_sub_up,furn_sub_iq)])

In [5]:
#2.Sports

spo_up_shoes=500
spo_up_bags=200
spo_up_backpack=800
spo_up_bottles=100
spo_up_towels=150

##intital quantity of sports sub_category items : ( iq == initial quantity )
spo_iq_shoes=30
spo_iq_bags=7
spo_iq_backpack=12
spo_iq_bottles= 15
spo_iq_towels=24

#### initial ordered quantity of sports sub_category items 
spo_oq_shoes=0
spo_oq_bags=0
spo_oq_backpack=0
spo_oq_bottles=0
spo_oq_towels=0


Spo_sub=['shoes', 'bags', 'backpack', 'bottles', 'towels']
spo_up=[spo_up_shoes,spo_up_bags,spo_up_backpack,spo_up_bottles,spo_up_towels]
spo_sub_iq=[spo_iq_shoes,spo_iq_bags,spo_iq_backpack,spo_iq_bottles,spo_iq_towels]
spo_sub_oq=[spo_oq_shoes,spo_oq_bags,spo_oq_backpack,spo_oq_bottles,spo_oq_towels]
Sports=[Spo_sub,spo_up,spo_sub_iq]
Spo_tot_sales=sum([i*j for i,j in zip(spo_up,spo_sub_iq)])

In [6]:
#3.Food

## unit prices of food sub_category items :
food_up_chips=5
food_up_bread=20
food_up_chocolate=30
food_up_biscuits=20
food_up_rice=80
food_up_wheat=30
food_up_sugar=40
food_up_flour=60

## intital quantity of food sub_category items :
food_iq_chips=150
food_iq_bread=70
food_iq_chocolate=300
food_iq_biscuits=200
food_iq_rice=120
food_iq_wheat= 150
food_iq_sugar=240
food_iq_flour=200

#### initial ordered quantity of food sub_category items 
food_oq_chips=0
food_oq_bread=0
food_oq_chocolate=0
food_oq_biscuits=0
food_oq_rice=0
food_oq_wheat=0
food_oq_sugar=0
food_oq_flour=0


Food_sub=["chips", "bread", "chocolate", "biscuits", "rice", "wheat", "sugar", "flour"]
food_sub_up=[food_up_chips,food_up_bread,food_up_chocolate,food_up_biscuits,food_up_rice,food_up_wheat,food_up_sugar,food_up_flour]
food_sub_iq=[food_iq_chips,food_iq_bread,food_iq_chocolate,food_iq_biscuits,food_iq_rice,food_iq_wheat,food_iq_sugar,food_iq_flour]
food_sub_oq=[food_oq_chips,food_oq_bread,food_oq_chocolate,food_oq_biscuits,food_oq_rice,food_oq_wheat,food_oq_sugar,food_oq_flour]
Food=[Food_sub,food_sub_up,food_sub_iq]
Food_tot_sales=sum([i*j for i,j in zip(food_sub_up,food_sub_iq)])

In [7]:
##total sales
total_sales=[Fur_tot_sales,Spo_tot_sales,Food_tot_sales]

#Category=[Furniture,Sports,Food]
Category=["Furniture","Sports","Food"]

In [8]:
class Inventory_Management(): 
    """Inventory dataset"""
    def __init__(self,furn_sub_iq,spo_sub_iq,food_sub_iq, furn_sub_oq,spo_sub_oq,food_sub_oq):
        self.furn_sub_iq=furn_sub_iq
        self.spo_sub_iq=spo_sub_iq
        self.food_sub_iq=food_sub_iq
        self.furn_sub_oq=furn_sub_oq
        self.spo_sub_oq=spo_sub_oq
        self.food_sub_oq=food_sub_oq

    def available_inventory(self):
        """available items and quantity details"""
        print("===================================================================================================================")
        print("                                  -- Avialable Inventory --                      ","Date:-",datetime.now())
        print("===================================================================================================================")
        print("%s %10s %10s %10s %1s %10s"% ("Sr.No","Category" ,"Sub_category","Unit_price($)", "Initial_quantity","TOTAL($)"))
        print("-------------------------------------------------------------------------------------------------------------------") 
        for i,p in enumerate(Category):
            if i==0:
                furn_total_sales_list=[]
                furn_total_sales_avlb = []
                for j,k,l,m in zip(Furn_sub,furn_sub_up,self.furn_sub_iq,self.furn_sub_oq):
                    print("%2d %13s %10s %10.2f %15d %18.2f"  %(i+1,p,j,k,l-m,k*(l-m)))
                    furn_total_sales_list.append(k*(l-m))
                    furn_total_sales_avlb.append((l-m))
                    i=i+1
                print()
            elif i==1:
                spo_total_sales_list=[]
                spo_total_sales_avlb = []
                for j,k,l,m in zip(Spo_sub,spo_up,self.spo_sub_iq,self.spo_sub_oq):
                    print("%2d %13s %10s %10.2f %15d %18.2f"  %(i,p,j,k,l-m,k*(l-m)))
                    spo_total_sales_list.append(k*(l-m))
                    spo_total_sales_avlb.append((l-m))
                    i=i+1
                print()
            else :
                food_total_sales_list=[]
                food_total_sales_avlb = []
                for j,k,l,m in zip(Food_sub,food_sub_up,self.food_sub_iq,self.food_sub_oq):
                    print("%2d %13s %10s %10.2f %15d %18.2f"  %(i-1,p,j,k,l-m,k*(l-m)))
                    food_total_sales_avlb.append((l-m))
                    food_total_sales_list.append(k*(l-m))
                    i=i+1
                print()
        print("---------------------------------------------------------------------------------------------------------------")
        print("* Furniture total sales =",sum(furn_total_sales_list),"$")
        print("* Sports total sales =",sum(spo_total_sales_list),"$")
        print("* Food total sales =",sum(food_total_sales_list),"$")
        print()
        print("==> Total_sales =",sum([sum(furn_total_sales_list),sum(spo_total_sales_list),sum(food_total_sales_list)]),"$")
        print("================================================================================================================")
        
        return furn_total_sales_avlb,spo_total_sales_avlb,food_total_sales_avlb


    def ordered_inventory(self):
        cust_name=input("Name of Customer : ")
        Adress=input("Enter adress : ")
        phone_no=int(input("Phone Number : "))
        #check which categories
        order_type=input("Do you want to purchase Farniture Items : ")
        if order_type == "yes" or order_type == "Yes":
            fur_oq_chairs=int(input("enter number of chairs : "))
            fur_oq_tables=int(input("enter number of tables : "))
            fur_oq_wardrobe=int(input("enter number of wardrobe : "))
            fur_oq_beds=int(input("enter number of beds : "))
            fur_oq_couch=int(input("enter number of couches : "))
            fur_oq_antique=int(input("enter number of antique : "))
            fur_oq_storage=int(input("enter number of storage : "))
            furn_sub_oq=[fur_oq_chairs,fur_oq_tables,fur_oq_wardrobe,fur_oq_beds,fur_oq_couch,fur_oq_antique,fur_oq_storage]
        else:
            furn_sub_oq = [0,0,0,0,0,0,0]
        
        order_type=input("Do you want to purchase sport items: ")
        if order_type =='yes' or order_type == "Yes":
            print(furn_sub_oq)
            spo_oq_shoes=int(input("enter number of shoes : "))
            spo_oq_bags=int(input("enter number of bags"))
            spo_oq_backpack=int(input("enter number of backpack : "))
            spo_oq_bottles=int(input("enter number of bottles : "))
            spo_oq_towels=int(input("enter number of towels : "))
            spo_sub_oq=[spo_oq_shoes,spo_oq_bags,spo_oq_backpack,spo_oq_bottles,spo_oq_towels]
        else:
            spo_sub_oq = [0,0,0,0,0]
            
        order_type=input("Do you want to purchase Food items: ")
        if order_type =='yes' or order_type == "Yes":
            food_oq_chips=int(input("enter number of chips packetes : "))
            food_oq_bread=int(input("enter number of bread packetes : "))
            food_oq_chocolate=int(input("enter number of chocolate : "))
            food_oq_biscuits=int(input("enter number of biscuits : "))
            food_oq_rice=int(input("enter kg of rice : "))
            food_oq_wheat=int(input("enter kg of wheat : "))
            food_oq_sugar=int(input("enter kg of sugar : "))
            food_oq_flour=int(input("enter kg of flour : "))
            food_sub_oq=[food_oq_chips,food_oq_bread,food_oq_chocolate,food_oq_biscuits,food_oq_rice,food_oq_wheat,food_oq_sugar,food_oq_flour]
        else:
            food_sub_oq = [0,0,0,0,0,0,0,0]
        
        
        print()
        print()
        print("===================================================================================================================")
        print("                                  -- Ordered Inventory --                      ","Date:-",datetime.now())
        print("===================================================================================================================")
        print()
        print("Customer_name :",cust_name)
        print("Adress :",Adress)
        print("phone_no :",phone_no)
        print()
        print("-------------------------------------------------------------------------------------------------------------------")
        print("%s %10s %10s %10s %1s %10s"% ("Sr.No","Category" ,"Sub_category","Unit_price($)", "Ordered_quantity","TOTAL($)"))
        print("-------------------------------------------------------------------------------------------------------------------")
        
        for i,p in enumerate(Category):
            if i==0:
                furn_total_sales_list=[]
                for j,k,l in zip(Furn_sub,furn_sub_up,furn_sub_oq):  
                    if l!=0:
                        if l > furn_sub_iq[i]:
                            print("max u can order= ",furn_sub_iq[i])
                            print("%2d %13s %10s %10.2f %15d %18.2f"  %(i+1,p,j,k,furn_sub_iq[i],k*furn_sub_iq[i]))
                            furn_total_sales_list.append(k*furn_sub_iq[i])
                        else:
                            print("%2d %13s %10s %10.2f %15d %18.2f"  %(i+1,p,j,k,l,k*l))   ## L CHange honar yamdhe fakt
                            furn_total_sales_list.append(k*l)
                        i=i+1
                print()
            elif i==1:
                Spo_total_sales_list=[]
                for j,k,l in zip(Spo_sub,spo_up,spo_sub_oq):
                    if l!=0:
                        if l > spo_sub_iq[i-1]:
                            print("max u can order= ",furn_sub_iq[i-1])
                            print("%2d %13s %10s %10.2f %15d %18.2f"  %(i,p,j,k,furn_sub_iq[i],k*spo_sub_iq[i-1]))
                            Spo_total_sales_list.append(k*spo_sub_iq[i-1])
                        else:
                            print("%2d %13s %10s %10.2f %15d %18.2f"  %(i,p,j,k,l,k*l))
                            Spo_total_sales_list.append(k*l)
                        i=i+1
                print()
            else :
                food_total_sales_list=[]
                for j,k,l in zip(Food_sub,food_sub_up,food_sub_oq):
                    if l!=0:
                        if l > food_sub_iq[i-2]:
                            print("max u can order= ",furn_sub_iq[i-2])
                            print("%2d %13s %10s %10.2f %15d %18.2f"  %(i-1,p,j,k,furn_sub_iq[i],k*food_sub_iq[i-2]))
                            food_total_sales_list.append(k*food_sub_iq[i-2])
                        else:
                            print("%2d %13s %10s %10.2f %15d %18.2f"  %(i-1,p,j,k,l,k*l))
                            food_total_sales_list.append(k*l)
                        i=i+1
                print()
        print("---------------------------------------------------------------------------------------------------------------")
        print("* Furniture total =",sum(furn_total_sales_list),"$")
        print("* Sports total =",sum(Spo_total_sales_list),"$")
        print("* Food total =",sum(food_total_sales_list),"$")
        print()
        print("==> Total_bill_amount =",sum([sum(furn_total_sales_list),sum(Spo_total_sales_list),sum(food_total_sales_list)]),"$")
        print("================================================================================================================")

        return furn_sub_oq,spo_sub_oq,food_sub_oq

In [ ]:
while True :
    a = Inventory_Management(furn_sub_iq,spo_sub_iq,food_sub_iq, furn_sub_oq,spo_sub_oq,food_sub_oq)
    furn_sub_iq,spo_sub_iq,food_sub_iq = a.available_inventory()
    furn_sub_oq,spo_sub_oq,food_sub_oq  = a.ordered_inventory()
    print()
    Do_you_want_to_continue= input("Do you want to continue ?")
    if Do_you_want_to_continue == "Yes" or Do_you_want_to_continue == "yes":
        continue
    else:
        break

===================================================================================================================
                                  -- Avialable Inventory --                       Date:- 2023-01-13 23:40:16.955994
===================================================================================================================
Sr.No   Category Sub_category Unit_price($) Initial_quantity   TOTAL($)
-------------------------------------------------------------------------------------------------------------------
 1     Furniture     chairs     300.00              15            4500.00
 2     Furniture     tables    1000.00               7            7000.00
 3     Furniture   wardrobe    2000.00              12           24000.00
 4     Furniture       beds    5000.00              15           75000.00
 5     Furniture      couch    2000.00              24           48000.00
 6     Furniture    antique     500.00              20           10000.00
 7     Furniture    storage      90.00              10             900.00

 1        Sports      shoes     500.00              30           15000.00
 2        Sports       bags     200.00               7            1400.00
 3        Sports   backpack     800.00              12            9600.00
 4        Sports    bottles     100.00              15            1500.00
 5        Sports     towels     150.00              24            3600.00

 1          Food      chips       5.00             150             750.00
 2          Food      bread      20.00              70            1400.00
 3          Food  chocolate      30.00             300            9000.00
 4          Food   biscuits      20.00             200            4000.00
 5          Food       rice      80.00             120            9600.00
 6          Food      wheat      30.00             150            4500.00
 7          Food      sugar      40.00             240            9600.00
 8          Food      flour      60.00             200           12000.00

---------------------------------------------------------------------------------------------------------------
* Furniture total sales = 169400 $
* Sports total sales = 31100 $
* Food total sales = 50850 $

==> Total_sales = 251350 $
================================================================================================================
Name of Customer : Harshad ravindra aute
Enter adress : pune
Phone Number : 8275875297
Do you want to purchase Farniture Items : yes
enter number of chairs : 2
enter number of tables : 2
enter number of wardrobe : 2
enter number of beds : 2
enter number of couches : 2
enter number of antique : 2
enter number of storage : 2
Do you want to purchase sport items: no
Do you want to purchase Food items: no


===================================================================================================================
                                  -- Ordered Inventory --                       Date:- 2023-01-13 23:41:08.798071
===================================================================================================================

Customer_name : Harshad ravindra aute
Adress : pune
phone_no : 8275875297

-------------------------------------------------------------------------------------------------------------------
Sr.No   Category Sub_category Unit_price($) Ordered_quantity   TOTAL($)
-------------------------------------------------------------------------------------------------------------------
 1     Furniture     chairs     300.00               2             600.00
 2     Furniture     tables    1000.00               2            2000.00
 3     Furniture   wardrobe    2000.00               2            4000.00
 4     Furniture       beds    5000.00               2           10000.00
 5     Furniture      couch    2000.00               2            4000.00
 6     Furniture    antique     500.00               2            1000.00
 7     Furniture    storage      90.00               2             180.00



---------------------------------------------------------------------------------------------------------------
* Furniture total = 21780 $
* Sports total = 0 $
* Food total = 0 $

==> Total_bill_amount = 21780 $
================================================================================================================

Do you want to continue ?yes
===================================================================================================================
                                  -- Avialable Inventory --                       Date:- 2023-01-13 23:41:41.118890
===================================================================================================================
Sr.No   Category Sub_category Unit_price($) Initial_quantity   TOTAL($)
-------------------------------------------------------------------------------------------------------------------
 1     Furniture     chairs     300.00              13            3900.00
 2     Furniture     tables    1000.00               5            5000.00
 3     Furniture   wardrobe    2000.00              10           20000.00
 4     Furniture       beds    5000.00              13           65000.00
 5     Furniture      couch    2000.00              22           44000.00
 6     Furniture    antique     500.00              18            9000.00
 7     Furniture    storage      90.00               8             720.00

 1        Sports      shoes     500.00              30           15000.00
 2        Sports       bags     200.00               7            1400.00
 3        Sports   backpack     800.00              12            9600.00
 4        Sports    bottles     100.00              15            1500.00
 5        Sports     towels     150.00              24            3600.00

 1          Food      chips       5.00             150             750.00
 2          Food      bread      20.00              70            1400.00
 3          Food  chocolate      30.00             300            9000.00
 4          Food   biscuits      20.00             200            4000.00
 5          Food       rice      80.00             120            9600.00
 6          Food      wheat      30.00             150            4500.00
 7          Food      sugar      40.00             240            9600.00
 8          Food      flour      60.00             200           12000.00

---------------------------------------------------------------------------------------------------------------
* Furniture total sales = 147620 $
* Sports total sales = 31100 $
* Food total sales = 50850 $

==> Total_sales = 229570 $
================================================================================================================